.background_image_header{
    background-image: url("/static/img/Shet.png");
}
.background_image_first{
    background-image: url("/static/img/img_for_choise.jpg");
}
.background_image_aut{
    background-image: url("/static/img/otbivkf.png");
}
.background_image_mus{
    background-image: url("/static/img/maxresdefault.jpg");
}
sample-header_n{
  left: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sample-header {
  left: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
}
.sample-header-section {
  position: relative;
  padding: 15% 0 10%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-weight: 400;
  text-align: center;
}
h2 {
  font-weight: 300;
  text-align: center;
}
