{% extends 'base.html' %}
{% block title %}
    Whoa you came. Let's choose
{% endblock %}
{% block content %}
  {% for lot in page_obj %}
      <article>
          <div class="article-lot">
            <div class="lot-where_image_desk">
                <div class="lot-image">
                    <img src="/media/{{lot.image}}">
                </div>
                <div class="lot-text">
                    <div class="lot-dream">
                        Your dream is {{ lot.name }}
                    </div>
                    <div class="lot-tags">
                        People call it {{ lot.tag }}
                    </div>
                </div>
            </div>
              <div class="lot-price">
                  {{ lot.prise }}
              </div>
          </div>
      </article>
  {% endfor %}
{% endblock %}