{% load static %}

<!DOCTYPE html>
<html lang="en">

  {% include 'inc/head.html' %}

  <body>
    {% include 'inc/preloader.html' %}
    {% include 'inc/header.html' %}
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Background</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'images/about_f.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Who we are &amp; What we do?</h4>
              <p class="text_about_me">
                Привет, меня Сергей, мне 17 лет. Проживаю в СПб.
                Занимайюсь разработкой на Python уже год и это один из моих проектов.
                Как видно из картинки - я ганкстер. Люблю играть на гитаре, а так же в баскетбол
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'inc/footer.html' %}
    {% include 'inc/scr.html' %}
  </body>

</html>
