<!DOCTYPE html>

<html lang="en">

{% include 'inc/head.html' %}

  <body>
    {% include 'inc/preloader.html' %}
    {% include 'inc/header.html' %}
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>new arrivals</h4>
              <h2>sixteen products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">All Products</li>
                  <li data-filter=".des">Featured</li>
                  <li data-filter=".dev">Flash Deals</li>
                  <li data-filter=".gra">Last Minute</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                  {% for lot in page_obj %}
                    <div class="col-lg-4 col-md-4 all dev">
                      <div class="product-item">
                        <a href="{{ lot.slug }}"><img src="/media/{{ lot.image }}" alt=""></a>
                        <div class="down-content">
                          <a href="{{ lot.slug }}"><h4>{{ lot.name }}</h4></a>
                          <h6>{{ lot.prise }}</h6>
                          <p>{{ lot.description| truncatewords:4 }}</p>
                          <span>Reviews ({{ comment_count }})</span>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
          </div>
          {% include 'inc/paginator.html' %}
        </div>
      </div>
    </div>
    {% include 'inc/footer.html' %}
    {% include 'inc/scr.html' %}


  </body>

</html>
