{% load static %}

<!DOCTYPE html>
<html lang="en">

  {% include 'inc/head.html' %}

  <body>
    {% include 'inc/preloader.html' %}
    {% include 'inc/header.html' %}
   <div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Выход
      </div>
      <div class="card-body">
        <p>
          Вы вышли из своей учётной записи. Ждём вас снова!
        </p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
    {% include 'inc/footer.html' %}
    {% include 'inc/scr.html' %}
  </body>

</html>