{% load static %}

<!DOCTYPE html>

<html lang="en">

  {% include 'inc/head.html' %}

  <body>
    {% include 'inc/preloader.html' %}
    {% include 'inc/header.html' %}
    <div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>contact us</h4>
              <h2>let’s get in touch</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Location on Maps</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7988.6891825407565!2d30.28996857612945!3d59.96246541662604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1695745252257!5m2!1sru!2sru" width="600" height="280" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
              <h4>About our office</h4>
              <p>
                One of the most popular tourist attractions in Saint Petersburg is the Hermitage Museum<br>
                <br>which houses over three million works of art,
                including paintings by famous artists such as Rembrandt and Leonardo da Vinci.
                The museum is housed in the Winter Palace, a beautiful building with ornate architecture and stunning interiors.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Send us a Message</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <ul class="accordion">
              <li>
                  <a>Вы правда хотите со мной связаться?</a>
                  <div class="content">
                      <p>Круто</p>
                  </div>
              </li>
              <li>
                  <a>Попробуйте мне отправить письмо на email</a>
                  <div class="content">
                      <p>Надеюсь форма рабочая</p>
                  </div>
              </li>
              <li>
                  <a>Я правда живу в Питере</a>
                  <div class="content">
                      <p>True</p>
                  </div>
              </li>
              <li>
                  <a>Было дело</a>
                  <div class="content">
                      <p>True</p>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% include 'inc/footer.html' %}
    {% include 'inc/scr.html' %}
  </body>

</html>
